<link rel="stylesheet" href="/css/addHabbits.css">

<div id ="add-form">
    
    <form action="/user/habbit/create-habbit" method="POST">
        <h3>To add new Habbit fill the below form &#8659;</h3>
        <input type="text" id="habbit" name="title" placeholder="Enter habbit..." required>
        <input type="text" id="desc"name="desc" placeholder="About the habbit">
        <div id="button">
            <button type="reset">Cancel</button>
            <button type="submit">Save</button>
        </div>
    </form>
</div>