<link rel="stylesheet" href="/css/home.css">
 
<main>

   <!----------- if user is not logged in ----------->
   <% if(!locals.user) { %>
    <div id="welcome">
        <div id ="text">
        Welcome to the <strong> Track it </strong> App.
            <br>
        <strong> Sign In </strong> / <strong> Sign Up </strong> to use.
        </div>
        <div id ='button'>
            <button type="button"> <a href="/user/sign-in">Sign In</a></button>
            <button type="button"> <a href="/user/sign-up">Sign Up</a></button>
        </div>
    </div>

    <!------------ if user is logged in ------------->
   <% } else { %>

        <!------------- if there is no habbit  ------------->
        <%if(!locals.habbits || locals.habbits.length == 0) {%>
            <div id="nohabbit">
                <div id="nohabbit-text">
                    <h2>
                        You don't have any habbits to track!!
                    </h2>
                    <h3>Add them by here &#8595;</h3>
                </div>
                <%- include('no_habbits', { user: user, habbits: habbits }) %>
            </div>
         <%} else { %>

            <!------------- if there is habbit to show  ------------->
           <div id="habbit">
 
             <button id="change-view" class="button-30" onclick="changeView()" > Weekly View</button>
                <!-- weekly view -->
                <%- include('weekly_view'); %>
               
                <!-- daily view  -->
                <%- include('daily_view'); %>

            </div>
            <% } %>
   <% } %>
   <script src="/js/home.js"></script>
</main>